main {
    margin-top: 20px;
    width: 640px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(40, 54, 129);
    font-family: "Open Sans", sans-serif;
}

h1, h2 {
    text-align: center;
    text-transform: uppercase;
}

nav {
    margin: 30px 0;
}

.heading-wrapper > a {
    text-indent: -1000px;
    display: block;
    background-image: url(../images/logo.gif);
    background-size: contain;
    background-repeat: no-repeat;
    width: 640px;
    height: 240px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

ul > li {
    width: 300px;
    height: 60px;
    margin: 20px auto;
}

ul > li > a {
    text-transform: uppercase;
    display: block;
    line-height: 60px;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-position: -20px 0;
    background-image: url("../images/flag_animated.gif");
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #000;
    font-weight: 700;
    text-shadow: 2px 2px #000;
}

a {
    font-weight: 700;    
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    line-height: 32px;
    font-size: 20px;
    color: #333;
}

section {
    text-align: center;
}

.video-wrapper {
    width: 720px;
    display: block;
    margin: 0 auto;
}

#skipLink {
    width: 150px;
    text-align: center;
    display: block;
    margin: 0 auto;
    text-decoration: underline;
}

canvas {
    border: 4px solid #8A171C;
}